<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="mask" style="background-color: rgba(223, 232, 231, 0.79);">
        <table class="table text-dark mt-5">
          
          <thead>
            <tr>

              <th scope="col">Item</th>
              <th scope="col">title</th>
              <th scope="col">price</th>
              <th scope="col">Qty</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          
            {{#each products}}
            
               
          
            <tr>




              <td><img style="width:45px ; height:45px" src="/product-image/{{this.product._id}}.jpg" alt=""></td>
              <td>{{this.product.name}}</td>
              <td>Rs. {{this.product.price}}</td>


              <td>

             
                <button onclick="changeQty('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)" id="hi" class="btn btn-danger mr-2">-</button>
                
                <span class="mr-2" id="{{this.product._id}}"> {{this.quantity}} </span>
                <button class="btn btn-success mr-2" onclick="changeQty('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
              </td>

              <td><button class="btn btn-danger" onclick="remove('{{this._id}}','{{this.product._id}}')">remove</button></td>
            </tr>
            {{/each}}
           

          </tbody>
        </table>
        <div class="col-md-12 card mask text-white mt-5" style="background-color: rgba(11, 11, 11, 0.262)">
          <h2 class="text-center">order details</h2>

          <H4>total amount:Rs. <span id="ttl"> {{totalam}}</span></H4>

          <a href="/placeorder" class="btn btn-success mt-5 form-control"> place order</a>
        </div>
       
  </div>
      </div>
    </div>
  </div>
 
</section>


<script>
  function changeQty(cartid,proid,userId,count) {
    count = parseInt(count)
    let quantity = parseInt(document.getElementById(proid).innerHTML)
    
   if(quantity==1 && count==-1){
    alert('quantity cant be zero')
   }else{
    $.ajax({
      url:'/change',
      data: {
        user:userId,
        cart: cartid,
        product: proid,
        count: count,
        quantity: quantity
      },
      method:'post',

      success:(response) => {
        if (response.productRemoved) {
          alert('product removed')
          location.reload()
        } else {

          document.getElementById(proid).innerHTML= quantity + count
          document.getElementById('ttl').innerHTML= response.total
        }




      }
    
    })
   }
    
    }
   


  
</script>

<script>
  function remove(cartid, proid) {
    $.ajax({
      url: '/remove',
      data: {
        cart: cartid,
        product: proid,

      },
      method: 'post',

      success: (response) => {
        if (response.productRemoved) {
          alert('product removed')
          location.reload()
        } else {

          console.log('error')

        }
      }
    })
  }
</script>


 




